body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 1rem;
}

.main-header {
  background-color: #dbc441;
  height: 3.75rem;
  padding: 0 1.5rem;
  width: 100%;
}

.main-header__nav {
  align-items: center;
  display: flex;
  height: 100%;
}

.main-header__item-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  color: white;
  text-decoration: none;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #6200ff;
}

.form-control {
  padding: 0 1rem;
}
.form-control label,
.form-control input {
  display: block;
}

.form-control input {
  border: 1px solid #dbc441;
  border-radius: 2px;
  font: inherit;
}

button {
  background: white;
  border: 1px solid #dbc441;
  border-radius: 3px;
  color: #6200ff;
  cursor: pointer;
  font: inherit;
}

button:hover,
button:active {
  background-color: #6200ff;
  color: white;
}
